# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ontology
*.properties
core-ontology.rdf
core-ontology.ttl

#Python
__pycache__

#Web
node_modules
dist
dist-ssr

#Web Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Other
.editorconfig
.gitignore
Dockerfile