$color-1: #fb8500;
$color-1-light: #ffb703;
$color-1-dark: #60181A;
$color-2: #219ebc;
$color-2-light: #8acae6;
$color-2-dark: #023047;
$color-3: #5cb85c;
$color-3-light: #87d387;
$color-3-dark: #28603b;

$gray-lightest: #f8f8f8;
$gray-dark: #202020;
$gray-darkest: #080808;