@import "styles/color-palette";

body {
    font-family: Candara, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.03);
}

/* Modern Loading Indicator Styles */


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main {
    padding: 0;
    margin: 0;

    position: relative;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .absolute {
        position: absolute;
        inset: 0;
    }

    #hero-title {
        position: absolute;
        top: calc(50% - 100px);
        left: 0;
        text-align: center;
        width: 100%;

        h1 {
            color: #fff;
            font-size: 2.5rem;
            margin: 1rem 0 0 0;

            @media (min-width: 768px) {
                font-size: 3rem;
            }
            font-weight: 600;
        }

        p {
            color: #fff;
            margin: 0.5rem 0 0 0;
            font-size: 1.3rem;

            @media (min-width: 768px) {
                font-size: 1.8rem;
            }
        }
    }

    .container {
        text-align: center;
        position: relative;
        z-index: 10;
        width: 100%;
        justify-content: center;

        padding: 1rem 0;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem 3rem;

            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        .loader {
            border: 4px solid $color-1;
            border-radius: 50%;
            border-top: 4px solid #fff;
            width: 50px;
            height: 50px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            transform: translate(-50%, -50%);
            z-index: 20; /* Ensure it's above the image */
            margin: 0;
            padding: 0;
        }

        .button-container {
            margin: 0;
            padding: 0;

            border: 4px solid rgba(255, 255, 255);

            #scroll-button {
                transition: opacity 0.5s ease-in-out; /* Smooth transition for the height property */
                height: 50px;
                width: auto;
                margin: 0;
                padding: 0;

            }

            @keyframes pulseBrightness {
                0% { fill: $color-1; }
                50% { fill: adjust-color($color-1, $lightness: 25%) }
                100% { fill: $color-1; }
            }

            #pulsing-triangle {
                width: fit-content;
                animation: pulseBrightness 4s infinite;
                cursor: pointer;
            }
        }
    }
}

section {
    padding: 0;
    margin: 0;

    display: flex;
    justify-items: center;
    justify-content: center;

    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
        text-align: center;
        margin-bottom: 4rem;
        margin-top: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;

        &.grid-md-2 {
            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &.grid-md-3 {
            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .flex-column {
            align-items: center;
            text-align: center;

            img {
                width: 35%;
            }

                svg {
                    width: 35%;
                }

            h3 {
                font-size: 1.7rem;
                font-weight: 600;
                padding: 0;
                margin-top: 1rem;
                margin-bottom: 0.75rem;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 1.3rem;
            }
        }

        .flex-row {
            align-items: center;
            justify-content: flex-start;

            h3 {
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 1.3rem;
            }
        }
    }
}

.bg-white {
    background-color: rgba(255, 255, 255);
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    align-items: center;

    @media (min-width: 768px) {
        padding: 4rem 3rem;
    }

    &.no-padding-top {
        padding-top: 0;
    }

    &.extra-padding-top {
        padding-top: 7rem;
    }

    &.extra-padding-bottom {
        padding-bottom: 7rem;
    }
}

.bg-1 {
    background-color: $color-1;

    button {
        background-color: $color-1-dark;
    }
}

.bg-2 {
    background-color: $color-2;

    button {
        background-color: $color-2-dark;
    }
}

.bg-3 {
    background-color: $color-3;

    button {
        background-color: $color-3-dark;
    }
}

.schematic {
    filter: invert(100%);
    width: 100%;
    max-width: 800px;
}

.call-to-action {

    .container {
        justify-content: center;
        align-items: center;

        padding-left: 2rem;
        padding-right: 2rem;

        @media (min-width: 768px) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: white;
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }

    }

    img {
        width: 100%;
        max-width: 600px;
    }

    button {
        width: fit-content;
        color: white;
        padding: 0.75rem 1.5rem;
        border-radius: 1rem;
        border-width: 2px;
        border-style: solid;
        border-color: $color-2-dark;
        font-weight: 600;
        transition: background-color 0.3s ease;
        margin-top: 2rem;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
            background-color: #e0e7ff;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; /* Vertically align items in the center */
}

.flex-small {
    display: flex;
    flex-shrink: 0; /* Prevent the image container from shrinking */
    width: 30%; /* Fixed percentage width for the image container */
    margin-right: 20px; /* Optional spacing between image and text */
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.flex-full {
    flex-grow: 1; /* Allow the text container to take up remaining space */
    h3 {
        margin-top: 0;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;

    .container {
        height: 20px;
        margin: 0;
        padding: 0;
        color: darkslategray;

        @media (min-width: 768px) {
            padding-left: 3rem;
            padding-right: 3rem;

            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    };
}

#cta-img-schema {
}
