@import "styles/loading-animation.scss";
@import "styles/color-palette";

$break-lg: 1600px;
$break-sm: 800px;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-size: 1rem;
  font-family: "Candara", sans-serif;
  color: $gray-darkest;

  display: grid;
  grid-template-columns: 2rem auto minmax(300px, 100%) auto 2rem;
  grid-template-rows: 2rem auto auto auto 2rem;
}

h1 {
  font-family: "Candara Light", sans-serif;
  font-size: 4rem;
  color: $color-2-dark;
}

p {
  padding: 0;
  margin: 0;
}

input {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  color: $gray-dark;
  padding: 0.5em;
}

nav {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  background-color: gray;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: 1.1rem;

  @media (max-width: $break-sm) {
    font-size: 1rem;
  }
}

footer {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  background-color: $gray-lightest;

  display: flex;
  align-items: center;
  justify-content: center;

  color: gray;
  font-size: 1.1rem;

  @media (max-width: $break-sm) {
    font-size: 1rem;
  }
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

#view-init {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-classification {
  display: flex;
  flex: 1 1;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  column-gap: 2rem;
  row-gap: 2rem;

  @media (max-width: $break-lg) {
    flex-direction: column;
  }

  #view-classification-input {
    flex: 1 0 auto;
    display: flex;

    max-width: 20rem;
    min-width: 18rem;

    justify-content: center;
    align-items: center;

    padding: 1rem 0;

    .input-container {
      flex: 0 1 auto;
      display: flex;

      row-gap: 1.3rem;

      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      p {
        color: $color-2;
        font-size: 1.2rem;

        &.title {
          font-weight: bold;
          font-size: 1.4rem;
        }
      }

      #upload-dropzone {
        flex: 0 1 auto;
        display: flex;

        width: 100%;

        @media (max-width: $break-sm) {
          width: 75%;
        }

        aspect-ratio: 1 / 1;

        justify-content: center;
        align-items: center;
        text-align: center;

        border: 2px dashed lightgray;

        color: gray;
        font-size: 1.5rem;
        cursor: pointer;
      }

      #upload-example {
        flex: 0 1 auto;
        display: flex;

        width: 100%;

        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        row-gap: 1rem;

        .example-container {
          flex: 0 1 auto;
          display: flex;

          width: 46%;
          height: auto;
          aspect-ratio: 1 / 1;

          justify-content: center;
          align-items: center;

          border: 1px lightgray solid;

          background-color: $gray-lightest;

          cursor: pointer;

          img {
            flex: 0 1 auto;
            width: auto;
            height: auto;

            max-width: 90%;
            max-height: 90%;
          }
        }
      }

      #file-preview {
        width: 100%;
        height: auto;

        @media (max-width: $break-lg) {
          width: 70%;
        }
      }

      #file-preview-more {
        background-color: $color-2-dark;
        border: 3px solid $color-2-light;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.7rem   1rem;
        color: white;
        cursor: pointer;
      }
    }

    .button {
      margin-top: 1rem;
      color: $color-2;
      font-size: 1.2rem;
      border: 2px solid $color-1;
      border-radius: 0.3em;
      padding: 0.5em;
    }

    #upload-input {
      display: none;
    }
  }

  #view-classification-result {
    flex: 0 0;
    flex-direction: column;
    display: flex;

    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;

    @media (max-width: $break-lg) {
      flex: 1 0;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }

    justify-content: center;
    align-items: center;

    #visual-container {
      flex: 1 0 auto;

      width: 100%;
      height: 100%;

      justify-content: center;
      align-items: center;
    }

  }

}
