@use 'sass:color';

$color-1: #fb8500;
$color-1-light: #ffb703;
$color-1-dark: #60181A;
$color-2: #219ebc;
$color-2-light: #8acae6;
$color-2-dark: #023047;

$gray-lightest: #f8f8f8;
$gray-dark: #202020;
$gray-darkest: #080808;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-size: 1rem;
  font-family: "Candara", sans-serif;
  color: $gray-darkest;
}

h1 {
  font-family: "Candara Light", sans-serif;
  font-size: 4rem;
  color: $color-2-dark;
}

input {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  color: $gray-dark;
  padding: 0.5em;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  justify-content: stretch;

  display: grid;
  grid-template-columns: 2rem auto minmax(300px, 100%) auto 2rem;
  grid-template-rows: 2rem auto auto auto 2rem;
}

.center-full {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.center-horizontal {
  grid-column: 3 / 3;
  grid-row: 2 / 5;
}

#view-init {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-credentials {
  display: flex;
  justify-content: center;
  align-items: center;

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    flex: 1 1 auto;

    label {
      margin: 0 0 0.5rem 0;
      font-size: 1.2rem;
    }

    input {
      border: 0;
      outline: 1px solid $gray-darkest;
      margin: 0 0 2rem 0;
    }

    p {
      font-size: 0.9rem;
      padding: 0;
      margin: 0.5rem 0 0 0;
    }
  }
}

#view-classification {
  display: flex;
  flex-direction: row;

  #view-classification-input {
    flex: 0 1 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    #upload-dropzone {
      width: 50%;
      aspect-ratio : 1 / 1;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px dashed   $gray-dark;

      font-size: 1.5rem;
      color: $gray-dark;
    }
  }

  #view-classification-result {
    flex: 1 0 auto;
    background-color: $gray-lightest;
  }

}
