@import "styles/loading-animation.scss";
@import "styles/color-palette";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-size: 1rem;
  font-family: "Candara", sans-serif;
  color: $gray-darkest;
}

h1 {
  font-family: "Candara Light", sans-serif;
  font-size: 4rem;
  color: $color-2-dark;
}

input {
  font-family: "Roboto Light", sans-serif;
  font-size: 1rem;
  color: $gray-dark;
  padding: 0.5em;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  justify-content: stretch;

  display: grid;
  grid-template-columns: 2rem auto minmax(300px, 100%) auto 2rem;
  grid-template-rows: 2rem auto auto auto 2rem;
}

.center-full {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.center-horizontal {
  grid-column: 3 / 3;
  grid-row: 2 / 5;
}

#view-init {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-classification {
  display: flex;
  flex-direction: row;

  #view-classification-input {
    flex: 1 1 auto;
    display: flex;

    justify-content: center;
    align-items: center;

    .input-container {
      flex: 0 1 auto;
      display: flex;

      width: 100%;
      max-width: 300px;

      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
          color: $color-2;
          font-size: 1.2rem;
      }

      #upload-dropzone {
        flex: 0 1 auto;
        display: flex;

        width: 100%;
        aspect-ratio: 1 / 1;

        justify-content: center;
        align-items: center;
        text-align: center;

        border: 2px dashed $color-1;

        color: $color-1;
        font-size: 1.5rem;
        cursor: pointer;
      }

      #upload-example {
        flex: 0 1 auto;
        display: flex;

        width: 100%;

        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        row-gap: 1rem;

        .example-container {
          flex: 0 1 auto;
          display: flex;

          width: 45%;
          height: auto;
          aspect-ratio: 1 / 1;

          justify-content: center;
          align-items: center;

          background-color: $gray-lightest;

          cursor: pointer;

          img {
            flex: 0 1 auto;
            width: auto;
            height: auto;

            max-width: 90%;
            max-height: 90%;
          }
        }
      }

      #file-preview {
        width: 100%;
        height: auto;
      }

      #file-preview-more {
        margin-top: 1rem;
        background-color: white;
        border: 2px solid $color-1;
        border-radius: 0.5rem ;
        font-size: 1rem;
        padding: 0.7rem;
        color: $color-2;
        cursor: pointer;
      }
    }

    .button {
      margin-top: 1rem;
      color: $color-2;
      font-size: 1.2rem;
      border: 2px solid $color-1;
      border-radius: 0.3em;
      padding: 0.5em;
    }

    #upload-input {
      display: none;
    }
  }

  #view-classification-result {
    flex: 1 0 auto;
    flex-direction: column;

    display: inherit;

    .visual-container {
      flex: 1 0 auto;
      display: flex;

      &.visual-container-top {

      }

      &.visual-container-bottom {
        flex-direction: row;
        height: 100%;
      }

      .visuals {
        flex: 1 0 auto;
        display: flex;
      }
    }

  }

}
